<div class="container mt-5">
    <div class="card" style="padding: 20px;">
        <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">

            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Usuário</mat-label>
                <input matInput 
                       ngModel 
                       name="userName" 
                       id="userName" 
                       placeholder="Ex: Joao@123">
                <mat-hint>Usuário</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Senha</mat-label>
                <input  type="password"
                        matInput 
                        ngModel
                        name="userPassword"
                        id="userPassword" 
                        placeholder="Ex: 123...">
                <mat-hint>Senha</mat-hint>
            </mat-form-field>

            <button class="w-100" type="submit" mat-raised-button color="primary">Login</button>
            
            <!-- 
            <input type="text"
            ngModel
            name="userName"
            id="userName" 
            placeholder="Digite seu nome de usuário" 
            class="form-control mb-3"
            >

            <input type="password"
            ngModel
            name="userPassword"
            id="userPassword" 
            placeholder="Coloque sua senha" 
            class="form-control mb-3"
            >

            <input type="submit" 
            value="Login" 
            class="btn btn-outline-primary form-control rounded-0"> -->
        </form>
    </div>
</div>