<div class="container mt-5">
    <div class="card" style="padding: 20px;">
        <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Usuário</mat-label>
                <input matInput 
                       ngModel 
                       name="userName" 
                       id="userName" 
                       placeholder="Ex: Joao123">
                <mat-hint>Usuário</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Primeiro nome</mat-label>
                <input matInput 
                       ngModel 
                       name="userFirstName" 
                       id="userFirstName" 
                       placeholder="Ex: João">
                <mat-hint>Primeiro nome</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Sobrenome</mat-label>
                <input matInput 
                       ngModel 
                       name="userLastName" 
                       id="userLastName" 
                       placeholder="Ex: Silva">
                <mat-hint>Sobrenome</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="outline" class="w-100">
                <mat-label>Senha</mat-label>
                <input matInput 
                       ngModel 
                       name="userPassword" 
                       id="userPassword" 
                       placeholder="Ex: 123...">
                <mat-hint>Senha</mat-hint>
            </mat-form-field>

            <div class="text-center">
                <button type="submit" mat-raised-button color="primary">Registro</button>
            </div>
        </form>
    </div>
</div>